@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims

@if (authorized)
{
    <a class="dropdown-item" href="admin/categories">Categories</a>
    <a class="dropdown-item" href="admin/product-types">Product types</a>
    <a class="dropdown-item" href="admin/products">Products</a>
    <hr />
}
